@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.cover {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e6e8ec66;
  align-items: center;
}

.container {
  max-width: 1160px;
  width: -webkit-fill-available;
  padding: 0;
}

.header_background {
  display: flex;
  min-height: 110px;
  justify-content: center;
  position: relative;
  background-color: white;
}

.header_container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
  flex-wrap: wrap;
}

.header_nav ul {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.header_nav ul li {
  display: inline-block;
}

.header_nav a {
  font-family: "Anonymous Pro", Helvetica;
  font-weight: 700;
  color: black;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.header_rectangle {
  height: 1px;
  width: 100%;
  background: gray;
  position: absolute;
  bottom: 0px;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 24px;
  margin-bottom: 25px;
}

.card {
  display: flex;
  height: max-content;
  flex-direction: column;
  transition: 0.5s;
}

.card:hover {
  -webkit-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px 12px 12px 12px;
}

.card_image {
  width: 100%;
  height: 254px;
  background-color: white;
  border-radius: 12px 12px 0 0;
}

.card_title {
  color: #121723;
  font-family: "Anonymous Pro", Helvetica;
  font-size: 26px;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card_information {
  display: grid;
  padding: 32px 24px;
  gap: 12px;
  border-radius: 0px 0px 12px 12px;
  background-color: #fff;
}

.card_description {
  color: #121723;
  font-family: "Anonymous Pro", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: normal;
  word-break: inherit;
}

.placeholder {
  color: #121723;
  font-family: "Anonymous Pro", Helvetica;
  font-style: normal;
  font-size: 48px;
  margin: 24px 0 24px 0;
}

.footer_background {
  display: flex;
  min-height: 142px;
  justify-content: center;
  background-color: #121723;
}

.footer_container {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.footer_logo_nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer_nav > ul {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.footer_nav > ul > li {
  display: inline-block;
}

.footer_nav a {
  font-family: "Anonymous Pro", Helvetica;
  font-weight: 700;
  color: white;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.footer_copyright {
  display: flex;
  font-family: "Anonymous Pro", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: gray;
  justify-content: center;
}

.footer_rectangle {
  height: 1px;
  background: gray;
  position: absolute;
  bottom: 53px;
  width: 100%;
}

.cardContainer {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sneakerCard {
  padding: 48px;
  background: white;
  border-radius: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.sneakerPhoto {
  max-height: 600px;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
  margin-bottom: 32px;
}

.sneakerTitle {
  color: #121723;
  font-size: 48px;
  font-family: Anonymous Pro;
  font-weight: 400;
  line-height: 48px;
  word-wrap: break-word;
  margin: 0;
}

.sneakerSubtitle {
  color: #121723;
  font-size: 36px;
  font-family: Anonymous Pro;
  font-weight: 400;
  line-height: 36px;
  margin: 24px 0px;
}

.sneakerAdditionalInfo {
  display: grid;
  gap: 32px;
}

.sneakerDescription {
  color: #121723;
  font-size: 20px;
  font-family: Anonymous Pro;
  font-weight: 400;
  line-height: 28px;
  white-space: pre-line;
  margin: 0;
}

.sneakerParametersHeader {
  margin-bottom: 48px;
}

.sneakerParametersTitle {
  color: #121723;
  font-size: 30px;
  font-family: Anonymous Pro;
  font-weight: 400;
  margin-bottom: 24px;
}

.sneakerParameter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: solid 1px;
  padding: 24px 0px;
  color: #121723;
  font-size: 20px;
  font-family: Anonymous Pro;
  font-weight: 400;
}

.sneakerParameter:last-child {
  border-bottom: solid 1px;
}

@media (max-width: 768px) {
  .container {
    margin: 0px 16px;
  }
  .header_container {
    justify-content: center;
    margin: 32px 16px;
  }
  .footer_copyright {
    margin-top: 24px;
  }
  .footer_logo_nav {
    gap: 32px;
    justify-content: center;
    margin-bottom: 24px;
  }
  .sneakerParametersTitle {
    font-size: 24px;
  }
  .sneakerParameter {
    font-size: 16px;
  }
  .sneakerDescription {
    font-size: 16px;
  }
  .sneakerCard {
    padding: 24px;
  }
  .sneakerParametersHeader {
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0px 24px;
  }
  .header_container,
  .footer_logo_nav {
    justify-content: space-between;
  }
  .sneakerAdditionalInfo {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0px 32px;
  }
  .header_container,
  .footer_logo_nav {
    justify-content: space-between;
  }
  .sneakerAdditionalInfo {
    grid-template-columns: 1fr 1fr;
  }
}
